@model Client.Models.DTOs.CommentResponseDto

<div class="comment-item">
    <div class="d-flex gap-2">
        <div class="flex-shrink-0">
            <img src="https://ui-avatars.com/api/?name=@Uri.EscapeDataString(Model.AuthorName)&background=random" class="fb-avatar-sm" alt="@Model.AuthorName">
        </div>
        <div class="flex-grow-1">
            <div class="fb-comment-bubble shadow-sm">
                <div class="fb-comment-author">@Model.AuthorName</div>
                <div class="fb-comment-body">@Model.Body</div>
            </div>
            <div class="fb-comment-actions">
                <a href="javascript:void(0)" class="fb-action-link">Like</a>
                <a href="javascript:void(0)" class="fb-action-link" onclick="setReply('@Model.Id', '@Model.AuthorName')">Reply</a>
                <span class="fb-comment-time">@Model.CreatedAt.ToString("MMM dd, yyyy")</span>
            </div>
        </div>
    </div>

    @if (Model.Replies != null && Model.Replies.Any())
    {
        <div class="fb-replies-container">
            @foreach (var reply in Model.Replies)
            {
                @await Html.PartialAsync("_CommentPartial", reply)
            }
        </div>
    }
</div>
